@inject IJSRuntime JS
@inject MsalAuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <span class="mr-5">Welcome <b>@context.User.Identity.Name</b></span>
        <button class="btn btn-primary" @onclick="this.AuthenticationStateProvider.SignOut">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="@(e => this.AuthenticationStateProvider.SignIn(this.Scopes))">Login</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string AdditionalScopes { get; set; }

    private string[] Scopes => this.AdditionalScopes?.Split(',');
}