@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginStatus AdditionalScopes="@_apiScope"></LoginStatus>
</div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private string _apiScope = "app://blazor.msal.api/api.access";
}
